<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Write a new Post</title>
  </head>
  <body>
    <form action="/posts" method="POST">
      <label>Post Name:</label>
      <input id="name" type="text" name="name">
      <br>
      <br>
      <label>Post Content:</label>
      <input id="content" type="textbox" name="content">
      <br>
      <br>
      <input id="submit" type="submit" name="submit">
    </form>
  </body>
</html>
